
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenidos a Quiero Pizza </h2>
<h2>Eliga su pizza de preferencia, esperemos que lo disfrute!!! </h2>




<h2>Gracias por su preferencia, lo esperamos nuevamente :) </h2>

